/* =Content
-----------------------------------------------*/
#main {
	padding: 30px 0 10px;
}

#main form input, #main form textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	padding-bottom: 10px;
}

#content ul {
	list-style-type: disc;
}

#content ul, #content ol {
	margin: 0 0 20px 30px;
}

#content ul a, #content ol a {
	color: #777;
}

#content ul a:hover, #content ol a:hover {
	text-decoration: none;
	color: $primary-color;
}

#content ol {
	list-style-type: decimal;
}

#content ol ol {
	list-style: upper-alpha;
}

#content ol ol ol {
	list-style: lower-roman;
}

#content ol ol ol ol {
	list-style: lower-alpha;
}

#content ul ul, #content ol ol, #content ul ol, #content ol ul {
	margin-bottom: 0;
}

.service-item {
	padding-bottom: 15px;
}

.service-item .service-icon {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.6);
	float: left;
	display: block;
	margin-right: 20px;
	text-align: center;
}

.service-item .service-icon img {
	height: 40px;
	width: 40px;
	border-radius: 25px;
}

#content .service-item .service-title {
	font-size: 20px;
	line-height: 25px;
	color: #555;
	display: block;
	overflow: hidden;
	padding-top: 7px;
	padding-bottom: 0;
}

.sticky article {
	/*border-bottom: 3px solid #015198;*/
	position: relative;
	overflow: hidden;
}

.sticky article:after {
	content: " ";
	position: absolute;
	top: 0;
	right: -50%;
	background-color: #015198;
	width: 100%;
	height: 50px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}

#primary {
	float: left;
	margin-left: 3.06%;
	width: 69.64%;
}

#content .post, #content .page {
	padding-bottom: 25px;
}

#content .post:first-child {
	padding-top: 0;
	border-top: none;
}

.page-title-wrap {
	background-color: #f5f5f5;
	border-bottom: 1px solid #eaeaea;
	padding: 20px 0;
}

.page-title {
	font-size: 24px;
	line-height: 30px;
	color: #555;
	font-weight: normal;
	//float: left;
	padding-top: 2px;
}

.page-title a {
	color: #555;
}

.entry-title {
	font-size: 24px;
	line-height: 1.4em;
}

.entry-title, .entry-title a {
	color: #1b1e1f;
	letter-spacing: -1px;
	font-size: 29px;
	text-shadow: 0 1px 0 #fff;
	padding-top: 10px;
	display: block;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

#content .entry-title {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.single-attachment .entry-title {
	margin: 0 2.5%;
}

.medium-wrap .entry-title {
	margin: 0;
	padding: 5px 0;
}

.entry-title a:hover, .entry-title a:focus, .entry-title a:active {
	color: $primary-color;
}

.entry-meta-bar {
	border-top: 1px solid #eaeaea;
	border-top: rgba(0, 0, 0, .035) 1px solid;
	border-bottom: 1px solid #eaeaea;
	border-bottom: rgba(0, 0, 0, .035) 1px solid;
	padding: 7px 5px;
	clear: both;
	background: #f9f9f9;
}

.entry-meta {
	float: left;
	padding-top: 2px;
	font-size: 12px;
	margin: 0 1.3%;
}

.updated:not(.published) {
	display: none;
}

.entry-meta a {
	color: #555;
}

.entry-meta a:hover {
	color: $primary-color;
}

.entry-meta span {
	padding-right: 8px
}

.entry-meta .author:before,
.entry-meta .posted-on:before,
.entry-meta .category:before,
.entry-meta .comments:before,
.tags:before,
.back-to-top a:before {
	font-family: 'Genericons';
	font-size: 18px;
	vertical-align: bottom;
	padding-right: 3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	*overflow: auto;
	*zoom: 1;
	*display: inline;
}

.entry-meta .author:before {
	content: '\f304';
}

.entry-meta .posted-on:before {
	content: '\f303';
}

.entry-meta .category:before {
	content: '\f301';
}

.entry-meta .comments:before {
	content: '\f300';
}

.tags:before {
	content: '\f302';
	font-size: 18px;
}

.tags {
	margin-bottom: 20px;
}

.tags a {
	color: #888;
}

.tags a:hover {
	color: $primary-color;
}

.entry-body {
	padding: 20px 2.5%;
}

.related-posts {
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-bottom: 20px;
}

.related-posts ul.list_related_posts {
	list-style: none;
	margin: 0 !important;
}

.related-posts ul.list_related_posts li {
	list-style: none;
}

.post-featured-image {
	margin-bottom: 0;
	max-width: 700px;

	display: inline-block;
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}

.post-featured-image a {
	display: block;
}

.entry-content dt, .comment-content dt {
	font-weight: bold;
}

.entry-content dd, .comment-content dd {
	margin-bottom: 20px;
}

.entry-content {
	text-align: justify;
	padding: 0;
	display: inline;
	overflow: hidden;
}

table {
	background: #f9f9f9;
	border-left: 1px solid #eaeaea;
	border-radius: 4px;
	margin: 0 0 25px 0;
	width: 100%;
}

table caption {
	color: #999;
	font-size: .85em;
	text-transform: uppercase;
}

th {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	padding: 4px 2%;
	font-weight: bold;
	text-align: left;
}

td, tbody th {
	background: #f9f9f9;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	color: #666;
	font-size: 13px;
	padding: 4px 2%;
}

tr:hover td, tr:hover th {
	background: #fff;
}

thead th, tfoot th, thead tr:hover th, tfoot tr:hover th {
	background: #d8d8d8;
}

.socials-links {
	&:after {
		content: '';
		clear: both;
		display: table;
	}

	ul {
		float: right;

		li {
			float: left;
			font-size: 20px;
			padding: 0 5px;
			position: relative;
			@include transition(top 1s ease-in-out);

			a {
				color: #fff;
			}
			.genericon-facebook {
				&:hover {
					color: #4763b3;
				}

				&:before {
					content: '\f204';
				}
			}
			.genericon-twitter {
				&:hover {
					color: #1b95e0;
				}

				&:before {
					content: '\f202';
				}
			}
			.genericon-googleplus {
				&:hover {
					color: #dd4d40;
				}

				&:before {
					content: '\f206';
				}
			}

			.genericon-youtube {
				&:hover {
					color: #cd4132;
				}

				&:before {
					content: '\f213';
				}
			}

			.genericon-english {
				&:hover {
					color: $primary-color;
				}

				&:before {
					content: '\f475';
				}
			}
		}
	}
}

/* Fix Genericon */
.genericon {
	position: relative;
	top: 2px;
}