/* =Footer
-----------------------------------------------*/
#footerarea {
	background-color: #333;
}

#footerarea form input, #footerarea form textarea, #footerarea .widget {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#footerarea .widget-wrap {
	border-top: 1px solid #eaeaea;
	padding: 0 2.5%;
}

#footerarea .widget-area {
	padding: 40px 0;
}

#footerarea .widget {
	padding-left: 15px;
	padding-right: 15px;
}

#footerarea .col-3 {
	width: 31.6%;
	float: left;
	margin-left: 2.5%;
}

#footerarea .col-3:first-child {
	margin-left: 0;
}

#footerarea .widget {
	width: 100%;
}

#footerarea .widget_archive, #footerarea .widget_pages, #footerarea .widget_nav_menu, #footerarea .widget_recent_entries, #footerarea .widget_categories, #footerarea .widget_recent_comments, #footerarea .widget_meta, #footerarea .widget_rss {
	margin-bottom: 22px;
}

#footerarea .widget_archive ul li, #footerarea .widget_pages ul li, #footerarea .widget_nav_menu ul li, #footerarea .widget_recent_entries ul li, #footerarea .widget_categories ul li, #footerarea .widget_recent_comments ul li, #footerarea .widget_meta ul li, #footerarea .widget_rss ul li {
	padding-bottom: 8px;
}

#footerarea .widget-title {
	font-size: 19px;
	text-transform: uppercase;
	line-height: 25px;
}

#footerarea .widget_article {
	margin-bottom: 10px;
}

#footerarea .widget_info, #footerarea .widget_text {
	margin-bottom: 15px;
}

/* Site Generator */
#site-generator {
	padding: 20px 0;
	//border-top: 2px dashed #eaeaea;
	color: #999;
}

#site-generator .copyright {
	float: left;
	padding-top: 5px;
	font-size: 12px;
}

.footer-right {
	padding-top: 5px;
	float: right;
	font-size: 12px;
}

#site-generator .copyright a {
	color: #777;
}

#site-generator .copyright a:hover {
	color: $primary-color;
}