.row {
	margin-left: -15px;
	margin-right: -15px;

	&:before {
		content: " ";
		display: table;
		clear: both;
	}

	&:after {
		content: " ";
		display: table;
		clear: both;
	}

	.col {
		float: left;
		box-sizing: border-box;

		padding-left: 15px;
		padding-right: 15px;
	}
}

.s8 {
	width: 66.66666667%;
}

.s4 {
	width: 33.33333333%;
}

.tm-table {
	display: table;
	table-layout: fixed;
}

.table-cell {
	display: table-cell;
}