/* =Menu
--------------------------------------------------------------*/
#main-nav {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	color: #fff;
	position: relative;
	background-color: #fff;

	ul.root > li {
		&:hover, &.current-menu-item, &.current_page_item, &.current-menu-ancestor, &.current_page_ancestor {
			&:before {
				display: block;
			}

			> a {
				color: $primary-color;
			}

		}
	}

	.root {
		float: left;

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	.search-btn {
		float: right;
		position: relative;
		z-index: 10;

		li {
			a {
				font-size: 21px;
			}
		}

		.close {
			display: none;

			a {
				padding: 6px;
				height: 20px;
				font-size: 20px;
				margin-top: 11px;
				margin-right: 1px;

				.genericon {
					top: -1px;
				}
			}
		}

		.genericon-search {
			&:before {
				content: '\f400';
			}
		}

		.genericon-close {
			&:before {
				content: '\f405';
			}
		}
	}

	.container {
		position: relative;

		.search_form__ {
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 100%;
			z-index: 2;
			opacity: 0;
			display: none;

			.tm-table {
				width: 100%;
				height: 100%;

				.table-cell {
					vertical-align: middle;
				}
			}

			input[type=text] {
				margin: 0;
				border-radius: 0;
			}
		}
	}


}

#main-nav li {
	float: left;
	position: relative;
	padding: 0;

	.sub-menu {
		min-width: 250px;
	}

	&:before {
		content: '';
		width: 100%;
		height: 4px;
		background-color: $primary-color;
		position: absolute;
		top: -2px;
		left: 0;
		display: none;
	}
}

#main-nav a {
	color: #555;
	display: block;
	float: left;
	font-size: 13px;
	padding: 15px 15px 7px 15px;
	height: 32px;
}

#main-nav a:hover, #main-nav ul li.current-menu-item a, #main-nav ul li.current_page_ancestor a, #main-nav ul li.current-menu-ancestor a, #main-nav ul li.current_page_item a, #main-nav ul li:hover > a {
	background: #f2f2f2;
	opacity: 1;
	color: #333;
}

#main-nav ul ul {
	text-shadow: none;
}

#main-nav li:hover > a, #main-nav ul ul :hover > a, #main-nav a:focus {
	color: #333;
	background-color: #eee;
}

/* Dropdown */
#main-nav ul li ul,
#main-nav ul li:hover ul ul,
#main-nav ul ul li:hover ul ul,
#main-nav ul ul ul li:hover ul ul,
#main-nav ul ul ul ul li:hover ul ul {
	display: none;
	z-index: 9999;
}

#main-nav ul li:hover ul,
#main-nav ul ul li:hover ul,
#main-nav ul ul ul li:hover ul,
#main-nav ul ul ul ul li:hover ul,
#main-nav ul ul ul ul ul li:hover ul {
	display: block;
}

#main-nav ul li ul {
	position: absolute;
	background-color: #fff;
	border-bottom: 4px solid $primary-color;
	top: 54px;
	left: 0;
	width: 190px;
}

#main-nav ul li ul li {
	float: none;
	border-bottom: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	padding: 0;
}

#main-nav ul li ul li a,
#main-nav ul li.current-menu-item ul li a,
#main-nav ul li ul li.current-menu-item a,
#main-nav ul li.current_page_ancestor ul li a,
#main-nav ul li.current-menu-ancestor ul li a,
#main-nav ul li.current_page_item ul li a {
	float: none;
	line-height: 40px;
	font-size: 13px;
	font-weight: normal;
	height: 100%;
	padding: 6px 10px;
	color: #777;
	background: #fff;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#main-nav ul li.current_page_item ul li a {
	background: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#main-nav ul li.current_page_item a {
	border: none;
}

#main-nav ul li ul li a:hover, #main-nav ul li ul li:hover > a, #main-nav ul li.current-menu-item ul li a:hover {
	background-color: #f9f9f9;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: $primary-color;
}

#main-nav ul li ul li ul {
	left: 188px;
	top: 0;
}

#main-nav select {
	display: none;
}

.default-menu {
	display: none;
}

.affix-top {
	position: static;
}

@media only screen and (min-width: 767px) {
	.affix {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 100000;
	}

	.admin-bar {
		.affix {
			top: 32px;
		}
	}
}
