/* =Featured Slider
--------------------------------------------------------------*/
.featured-slider, .featured-slider .slider-cycle {
	position: relative;
}

.featured-slider .displayblock {
	display: block;
}

.featured-slider .displaynone {
	display: none;
}

.featured-text {
	position: absolute;
	bottom: 55px;
	right: 100px;
	text-align: right;
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px;
	background: #555;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 4px;
	float: right;
	clear: right;
	width: 35%;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	border: none;
}

.featured-text .featured-title {
	font: 28px Helvetica, sans-serif;
	font-weight: 200;
	padding-bottom: 10px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

.featured-text .featured-title a {
	color: #fff;
}

/* Controllers */
#controllers {
	text-align: center;
	line-height: 0;
	position: absolute;
	width: 100%;
	bottom: 15px;
	z-index: 9;
}

#controllers a {
	width: 10px;
	height: 10px;
	margin: 0 4px;
	overflow: hidden;
	display: inline-block;
	background-color: #fff;
	border-radius: 2px;
	color: #fff;
}

#controllers a:hover, #controllers a.active {
	background-color: $primary-color;
	color: $primary-color;
}

.featured-slider .nav {
	line-height: 1;
	position: absolute;
	width: 100%;
	bottom: 50%;
	margin-bottom: -25px;
	z-index: 99;
	height: 50px;
}

.featured-slider .nav span {
	font-size: 30px;
	width: 30px;
	height: 30px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.featured-slider .nav a {
	color: #fff;
	display: table;
	table-layout: fixed;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
}

.featured-slider .nav a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.featured-slider .nav #prev_slide {
	float: left;
	margin-left: 20px;
}

.featured-slider .nav #next_slide {
	float: right;
	margin-right: 20px;
}

#prev_slide, #next_slide {
	background-color: rgba(0, 0, 0, .4);
	border-radius: 100%;
	width: 50px;
	height: 50px;
}

.genericon {
	font-family: 'Genericons';
}

.genericon-previous:before {
	content: '\f430';
}

.genericon-next:before {
	content: '\f429';
}