#tb-members-page tr th{vertical-align: middle; text-align:center}
#tb-members-page tr td:first-child {width:22%}
#tb-members-page tr td:last-child {width:30%}
#tb-members-page td a {text-decoration:none}
#tb-members-page_paginate{width: 100%; text-align: center;}
.default-wp-page{display: none}