/* Sidebar */
#secondary {
	float: left;
	margin-left: 3.06%;
	width: 27.28%;
}

/* Partner widget */
.fituet_partners .partner a {
	text-align: center;
	display: block;
	padding-bottom: 10px;
}

.fituet_partners .partner a img {
	max-width: 80%;
	max-height: 50px;
	width: auto;
}

.fituet_partners .list-partners {
	width: 100%;
}

.fituet_partners .list-partners li {
	background-image: none;
	display: table;
	table-layout: fixed;
	width: 100%;
	max-width: 100%;
}

.fituet_partners .list-partners li a {
	display: table-cell;
	vertical-align: middle;
}

.fituet_partners_horizontal {
	ul.list-partners {
		display: flex;
		justify-content: center;
		align-items: center;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		.owl-wrapper {
			display: flex !important;
			//justify-content: center;
			align-items: center;
		}

		li.partner {
			list-style: none;
			background: none;
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;

			a {
				img {
					max-width: 200px;
					max-height: 100px;
					height: auto;
				}
			}
		}
	}

}

/* Left Sidebar Template */
.left-sidebar-template #primary,
.left-sidebar-template #content-woocommerce {
	float: right;
}

.left-sidebar-template #secondary {
	float: left;
	margin-left: 0;
}

/* One Column Template */
.one-column-template .wrapper {
	max-width: 708px;
}

.one-column-template .container {
	width: 668px;
}

.no-sidebar-template #content {
	width: 668px;
	margin: 0 auto;
}

/* =Widgets
-----------------------------------------------*/
.widget {
	//background: #fff;
	//padding: 15px;
	//-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	//box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	margin-bottom: 30px;

	> * {
		max-width: 100% !important;
	}
}

.widget ul li {
	background-image: url('./images/arrow-right.png');
	background-position: 0 8px;
	background-repeat: no-repeat;
	padding: 0 0 0 15px;
	font-size: 13px;
}

.widget ul li a {
	margin: 0 0 8px 0;
}

#secondary .recentcomments ul li {
	background-position: 30px 6px;
}

.widget ul li a:hover {
	color: $primary-color;
	//text-decoration: underline;
}

.widget-title {
	font-size: 18px;
	line-height: 30px;
	padding-bottom: 10px;
}

.widget-title, .widget-title a {
	color: #555;
}

.widget-title {
	position: relative;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 10px;

	&:after {
		content: '';
		width: 100%;
		height: 4px;
		background-color: $primary-color;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.widget-title a:hover {
	color: $primary-color;
}

/* Search Widget */
.widget_search input.s {
	width: 100%;
	height: 40px;
	padding: 0 35px 0 15px;
	color: #777;
	background-color: #f9f9f9;
	background-image: none;
	background-position: right 10px;
	border-color: #eaeaea;
	cursor: text;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	text-indent: 0;
}

.widget_search input.s:focus {
	border-color: #ccc;
}

/* Calendar Widget */
.widget_calendar #wp-calendar {
	width: 95%;
	text-align: center;
	margin: auto;
	border-radius: 0;
}

.widget_calendar #wp-calendar caption, .widget_calendar #wp-calendar td, .widget_calendar #wp-calendar th {
	text-align: center;
}

.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}

.widget_calendar #wp-calendar th {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

.widget_calendar #wp-calendar tfoot td {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* Text Widget */
.widget_article {
	margin-bottom: 20px;
}

.widget_article .article-title a:hover {
	//text-decoration: underline;
}

.widget_article .post {
	padding-bottom: 20px;
}

.widget_article .article-content p {
	margin-bottom: 0;
}

/* Tag Cloud */
.widget_tag_cloud a {
	margin-right: 5px;
	color: #777;
	padding: 10px 0;
}

.widget_tag_cloud a:hover {
	color: $primary-color;
}

/** Event widget */
.fituet-event .list-events li {
	background: none;
	display: table;
	table-layout: fixed;
}

.fituet-event .list-events li a {
	display: table-cell;
	vertical-align: middle;
}

.fituet-event {
	.list-events {
		li {
			a {
				color: #333;
			}

			.left {
				border: 1px solid #333;
				padding: 5px 15px;
				margin-right: 10px;
				margin-bottom: 10px;

				.day {
					display: block;
					font-size: 150%;
				}

				.month {
					display: block;
				}
			}
		}
	}
}

.widget {
	background-color: #fff;
}
.page-template-template-homepage .widget {
	background: none;
}
.fituet-event.vticker {
	padding-left: 10px;
	padding-right: 10px;
}