#buddypress {
	padding-bottom: 20px;
}

.strong {
	font-weight: bold;
}

#item-header {
	float: right;
}

#item-header-avatar {
	float: left;
	padding-right: 20px;
}

#scientific_articles .strong {
	padding-bottom: 10px;
}

@media only screen and (max-width: 767px) {
	#item-header-avatar {
		float: none;
		padding-bottom: 20px;
	}
}