.publication {
    margin: 10px 0;
}

.publication a {
    text-decoration: none !important;
}

.publication a:hover {
    text-decoration: underline !important;
}

.publication .title a {
    font-weight: bold;
}

.sort_date h3 {
    background-color: #e1e1e1;
    padding: 5px 10px !important;
    font-size: 15px;
    font-weight: bold;
}